.contact {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    color: #e5e2df;
    text-align: center;
}

.contact p {
    font-size: 24px;
    line-height: 30px;
}

.contact a {
    font-size: 47px;
    color: #e3cac7;
    line-height: 52px;
}