@font-face {
  font-family: "TAN";
  src: url("../public/fonts/TAN-ASTORIA-Display.woff") format("woff"),
       url("../public/fonts/TAN-ASTORIA-Display.ttf") format("truetype"),
       url("../public/fonts/formular-regular-trial.otf") format("truetype");
  
}

@font-face {
  font-family: "Grotesk";
  src: url("../public/fonts/TestFoundersGrotesk-Regular.otf") format("truetype");
}




html, body {
  background:  #0f1bbb;
  padding: 0;
  margin: 0;
  height: 100%;
}



.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


