@font-face {
  font-family: "TAN";
  src: url("../public/fonts/TAN-ASTORIA-Display.woff") format("woff"),
       url("../public/fonts/TAN-ASTORIA-Display.ttf") format("truetype"),
       url("../public/fonts/formular-regular-trial.otf") format("truetype");


}






body {
  background:  #0f1bbb;
  height: 100%;
}



