.header a {
    font-size: 20px;
    color: #e5e2df;
    line-height: 12px;
    margin-left: 1rem;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    padding: 5px 0;
}



.header a:hover {
    color: #e5e2df;

}



.logoContainer {
    display: flex;
    flex-direction: row;

}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Grotesk";
    padding: 20px;
}

